.MiddleContent {
    width: 50%;
    margin-left: auto;
    margin-right: auto;}

.ConnectionStatus1 {
    padding-top: 20em;
    background-color: blue;
    width: 20%;
}

.ConnectionStatus2 {
    padding-top: 20em;
    background-color: rgb(151, 39, 20);
    width: 20%;
}