.middle-content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.connection-status {
    padding-top: 8em;
    width: 20%;
}

.connectionStatus {
    padding-top: 8em;
    width: 20%;
}