{% extends 'base.html' %}
{% load static %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=7.0">
    <link rel="stylesheet" href="{% static 'home/home.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'home/home.js' %}"></script>
{% endblock %}

{% block content %}
    <title>home</title>
    <h1>Actions</h1>

    <div class="controlls">
        <div id="pixelRobot">
            <img class="pixelrobot" src="{% static 'robot.png' %}" alt="Robot">
        </div>
        <div id="percantage">
            <p>32</p>
        </div>
        <img id="battery_arrow" src="{% static 'battery_arrow.png' %}" alt="Battery Arrow" style="display: none;">    
        <button type="button" id="movement">Key Ctrl</button>
        <button type="button" id="robotinformation">Info</button>

        <!-- Sound form -->
        <form action="{% url 'sound' %}" method="post">
            {% csrf_token %}
            <button type="submit" id="soundBtn">Sound</button>
        </form>

        <!-- Shutdown form -->
        <form action="{% url 'shutdown' %}" method="post">
            {% csrf_token %}
            <button type="submit" id="shutdownBtn">Shutdown</button>
        </form>

        <!-- Message input -->
        <input type="text" id="message" name="message" placeholder="Enter a message">

        <!-- Send message button -->
        <button type="button" onclick="sendmessage()">Send</button>
    </div>
{% endblock %}
