{% extends 'base.html' %}
{% load static %}
{% block content %}
    <title>home</title>
    <h1>Actions</h1>

    <style>
        .pixelrobot {
            float: right;
            width: 50%;          
          }
    </style>
    
    <img class = "pixelrobot" src="{% static 'rbot.png' %}">

    <form action="{% url 'start' %}" method="post">
        <button type="button" id="startBtn">Start</button>
    </form>

    <form action="{% url 'camera' %}" method="post">
        <button type="button" id="cameraBtn">Camera</button>
    </form>

    <form action="{% url 'sound' %}" method="post">
        <button type="button" id="soundBtn">Sound</button>
    </form>

    <form action="{% url 'shutdown' %}" method="post">
        <button type="button" id="shutdownBtn">Shutdown</button>
    </form>

    <h2>Robot Connection</h2>

    <input type="text" id="message" name="message" placeholder="Enter a message">

    <button onclick="sendmessage()">Send message</button>

    <h1>controls</h1>

    <script>
        document.addEventListener("keydown", function(event) {
            if (event.keyCode === "w".charCodeAt(0)) {
                window.alert("w has been pressed");
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "{% url 'forward' %}", true);
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}"); // Add CSRF token
                xhr.send();
            }
            if (event.keyCode === "s".charCodeAt(0)) {
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "{% url 'backward' %}", true);
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}"); // Add CSRF token
                xhr.send();
            }
            if (event.keyCode === "a".charCodeAt(0)) {
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "{% url 'left' %}", true);
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}"); // Add CSRF token
                xhr.send();
            }
            if (event.keyCode === "d".charCodeAt(0)) {
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "{% url 'right' %}", true);
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}"); // Add CSRF token
                xhr.send();
            }
        });
    </script>
    

    <script>
        var buttons = ["startBtn", "cameraBtn", "soundBtn", "shutdownBtn"];

        buttons.forEach(function (btnId) {
            document.getElementById(btnId).addEventListener("click", function () {
                // Use Ajax to send a request to the server when the button is clicked
                var xhr = new XMLHttpRequest();
                xhr.open("POST", document.getElementById(btnId).parentNode.action, true);
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}"); // Add CSRF token
                xhr.send();
            });
        });
    </script>
{% endblock %}
