{% extends 'base.html' %}
{% load static %}
{% block content %}

    <title>Robot Control Tutorial</title>

    <div class="container">
        <h1>Welcome to Your Raspberry Pi Robot Control Tutorial!</h1>

        <section id="setup">
            <h2>Setup</h2>
            <p>Before you begin, ensure your robot is powered on and the control program is running.</p>
        </section>

        <section id="configuration">
            <h2>Configuration</h2>
            <p>Configure your robot by following these steps:</p>
            <ol>
                <li>Access the settings page.</li>
                <li>Enter the IP address and port number of your robot.</li>
            </ol>
        </section>

        <section id="control">
            <h2>Control Your Robot</h2>
            <p>Once configured, control your robot with these controls:</p>
            <ul>
                <li>Use WASD keys for body movement.</li>
                <li>Use QERF keys for head movement.</li>
            </ul>
        </section>

        <section id="fun">
            <h2>Have Fun!</h2>
            <p>Return to the home page and start controlling your robot from anywhere in the world!</p>
        </section>

        <h1>Additional Information</h1>

        <section id="panel">
            <h2>Robot Control Panel</h2>
            <p>Experience seamless control over your robot's movements using our intuitive control panel.</p>
        </section>

        <div class="video">
            <h2>See it in Action</h2>
            <video controls src="{% static 'video.mp4' %}" width="500"></video>
        </div>
    </div>
{% endblock %}
